[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	label-Verified = -1..+1 group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	push = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	read = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	rebase = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	removeReviewer = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	submit = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
[access "refs/heads/*"]
	create = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	push = +force group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	pushMerge = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	read = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
[access "refs/tags/*"]
	push = group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
	push = +force group user/𝕯𝖊𝖒𝖔𝖓 (codegod100)
